.navbar-body {
    display: flex;
    background-color: wheat;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: -10px;
    position: relative;
    max-height: 100px;
    max-width: 100%;
}

.navbar-link {
    align-self: center;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    border: none;
}

.navbar-image {
    width: 200px;
    height: 200px;
    text-shadow: 10;
}

.navbar-text {
    color: black;
    opacity: 90%;
    font-family:cursive ;
    align-self: center;
    justify-self: center;
}

.navbar-searchbar {
    display: flex;
    flex-direction: column;
}

.navbar-searchbar-label {
    justify-self: center;
    align-self: center;
}