.navbar-body {
    display: flex;
    background-color: wheat;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: -10px;
    position: relative;
    max-height: 100px;
    max-width: 100%;
}

.navbar-image {
    width: 200px;
    height: 200px;
}

.navbar-text {
    color: black;
    opacity: 90%;
    font-family:cursive ;
    align-self: center;
    justify-self: center;
}

.navbar-searchbar {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.navbar-searchbar-label {
    align-self: center;
}

.navbar-searchbar-input {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    border: none;
}