.signUp-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150%;
    right: 35%;
    width: 500px;
    background-color: wheat;
    font-weight: 200;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.80);
}

.signUp-openForm-button {
    color: black;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
}

.signUp-error-text {
    color: red;
    padding: 2px 2px 2px 100px;
    margin-top: -5px;
    justify-self: flex-start;
    align-self: flex-start;
}

.signUp-textFields {
    padding: 5px 5px 5px 100px;
    margin: 2px;
    justify-content: space-between;
    align-self: flex-start;
}

.signUp-labelFields {
    margin-right: 5px;
}

.signUp-inputFields {
    border: 1px black solid;
    padding: 5px;
    margin: 2px;
    width: 150px;
}

.signUp-button {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: wheat;
    align-self: flex-end;
    color: black;
}

.signUp-closeForm-button {
    padding: 3px;
    margin-bottom: -30px;
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-end;
}

.signUp-header {
    margin-top: 10px;
}